<!-- /albums -->
{% extends "index.html" %}
{% block content %}
<table class="table">
	{% for album in albums %}
	<tr>
		<td>{{album[1]}}</td>
		<td>
			<form action="/ilrj0i/pa1/album" method="get">	
				<input type="hidden" name="id" value="{{album[0]}}">
				<input type="submit" value="view">
			</form>
		<td>
			<form action="/ilrj0i/pa1/album/edit" method="get">
				<input type="hidden" name="id" value="{{album[0]}}">
				<input type="submit" value="edit">
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
<form action="/ilrj0i/pa1/albums/edit" method="GET">
	<input type="hidden" name="username" value="{{username}}">
	<input type="submit" value="Edit {{username}}'s albums">
</form>
{% endblock %}
