<!-- / -->
<!DOCTYPE HTML>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Photo Album Project</title>
</head>
<body>
<div class="page-header">
	<h1>Welcome to our album project.</h1>
</div>
{% block content %}
	<h1>Welcome!</h1>
	<p>This project allows users to view, edit, and delete picture albums.</p>
	<br>
	{% if login == "yes" %}
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		   		Home
		  </div>
		  <div class="container">
		   		Edit Account
		  </div>
		  <div class="container">
		   		My Albums
		  </div>
		  <p>Signed in as {{username}}</p>
		  <div class="container">
		   		Logout
		  </div>
		</nav>
	<p>Log in <a href="/ilrj0i/pa1/user/login">here</a></p>
	<br>
	<p>Sign up <a href="/ilrj0i/pa1/user">here</a></p>
	<br>
	<table class="table">
		<tr>
			<td>Album</td>
			<td>Name</td>
		<tr>
	{% for album in albums %} 
		<tr>
			<td>{{album[4]}}</td>
			<td>{{album[1]}}</td>
			<td>
				<form action="/ilrj0i/pa1/album" method="GET">
					<input type="hidden" name="id" value="{{album[0]}}">
					<input type="submit" value="Check it out!">
				</form>
			<td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
<footer>
	<p>Fall 2015. Andrew Chen | Sandeep Gupta | Brian Lim</p>
</footer>
</body>
</html>