<!-- / -->
<!DOCTYPE HTML>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>Photo Album Project</title>
</head>
<body>


		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <button type="button" class="btn btn-default navbar-btn">
		      	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Home
		      </button>
		      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Edit Account
		      </button>
		      <button type="button" class="btn btn-default navbar-btn">
		      	<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>   My Albums   
			  </button>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Logged in as {{username}}</a></li>
		        <li><button type="button" class="btn btn-default navbar-btn">Logout</button></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>






<div class="page-header">
	<h1>Welcome to our album project.</h1>
</div>
{% block content %}
	<p>This project allows users to view, edit, and delete picture albums.</p>
	<br>
	{% if login == "yes" %}
	{% endif %}




	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Log in <a href="/ilrj0i/pa1/user/login">here</a></button>
	  <button type="button" class="btn btn-default">Sign up <a href="/ilrj0i/pa1/user">here</a></button>
	  <!--
	  HOW TO REFERENCE BUTTONS?
	  <button type="button" class="btn btn-default" href="/ilrj0i/pa1/user/login">Log In</button>
	  <button type="button" class="btn btn-default" href="/ilrj0i/pa1/user">Sign Up</button>-->
	</div>
	<table class="table">
		<tr>
			<td>Album</td>
			<td>Name</td>
		<tr>
	{% for album in albums %} 
		<tr>
			<td>{{album[4]}}</td>
			<td>{{album[1]}}</td>
			<td>
				<form action="/ilrj0i/pa1/album" method="GET">
					<input type="hidden" name="id" value="{{album[0]}}">
					<input type="submit" value="Check it out!">
				</form>
			<td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
<footer>
	<p>Fall 2015. Andrew Chen | Sandeep Gupta | Brian Lim</p>
</footer>
</body>
</html>