<!-- /pic -->
{% extends "index.html" %}
{% block content %}
  <div class="text-center">
  <h1>{{album_name[0][0]}}</h1>
  </div>
  <div class="text-center">
  <h3>{{username[0][0]}}</h3>
  </div>

  {% if access == True %}
  	<form action="/ilrj0i/pa2/album/edit" method="get">
  		<input type="hidden" name="id" value="{{albumid}}">
  		<input type="submit" value="Edit Album">
  	</form>
  {% endif %}

	{% for pic in picarr %}
		<img src="/images/{{pic[1]}}"/>
    <p>{{caption[0]}}</p>
    {% if access == True %}
      <form action="/ilrj0i/pa2/album/edit" method="get">
        <input type="hidden" name="id" value="{{picid}}">
        <input type="submit" value="Edit Caption">
      </form>
  {% endif %}
	{% endfor %}
{% endblock %}

