{% extends "index.html" %}
{% block content %}
{% if username == "no" %}
	<h2>Username is taken :(<h2>
{% endif %}
	<h1 class="text-center">Sign Up!</h1>
	<h1>test this for good enough pass and passwords match. if exist, redirect to /user/edit</h1>
	<form name="password_form" action="/ilrj0i/pa2/user" method="POST">

		Username: <input type="text" name="username" pattern="^[A-Za-z0-9_]{3,20}$" required title="Letters, digits, and underscores ONLY! 3 characters minimum and 20 characters maximum." required/>

		<br>

		First Name: <input type="text" name="firstname" pattern="^[A-Za-z-]{1,20}$" required title="Letters and hyphen ONLY! 1 character minimum and 20 characters maximum" required/>

		<br>

		Last Name: <input type="text" name="lastname" pattern="^[A-Za-z-]{1,20}$" required title="Letters and hyphen ONLY! 1 character minimum and 20 characters maximum." required/>

		<br>

		E-mail: <input type="email" name="email" maxlength="20" required/>

		<br>

		Password: <input type="password" pattern="(?=^.{5,}[A-Za-z0-9_]$)(?=.*\d)(?=.*[a-zA-Z]).*$" name="password1" maxlength = "15" required title="Letters, digits, and underscores ONLY! 5 characters minimum and 15 characters maximum with at least one digit and one character." required>

		<br>

		Reconfirm Password: <input type="text" pattern="(?=^.{5,}[A-Za-z0-9_]$)(?=.*\d)(?=.*[a-zA-Z]).*$" id="pass2" name="password2" maxlength = "15" required title="Letters, digits, and underscores ONLY! 5 characters minimum and 15 characters maximum with at least one digit and one character." required>

		<p id="result">Please make sure passwords match!</p>

		<br>

		<DIV ID="password_result">&nbsp;</DIV>


		<input type="submit" value="Submit">
	</form>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
		$(document).ready() {
			jQuery(function($){

			    var timer;
			    $('#pass2').keypress(function(e){
			        $('#result').text('Typing ...');
			        
			        // clear the timer as keys are still entered
			        if(timer) clearTimeout(timer);
			        
			        // setup the timer
			        timer = setTimeout(function(){
			            $('#result').text('End typing !');
			        }, 2000);
			    });
			    
			});
		}



	/*
	verify = new verifynotify(document.getElementById("password_form").password1, document.getElementById("password_form").password2);

	verify.check();
	*/

	</script>
{% endblock %}
