{% extends "index.html" %}
{% block content %}
	<h1>Sign Up!</h1>
	<p>test this for good enough pass and passwords match. if exist, redirect to /user/edit</p>
	<form action="" method="post">
		Username: <input type="text" name="username"><br>
		First Name: <input type="text" name="firstname"><br>
		Last Name: <input type="text" name="lastname"><br>
		E-mail: <input type="text" name="email"><br>
		Password: <input type="password" name="password"><br>
		Reconfirm Password: <input type="password" name="password2"><br>
		<input type="submit" value="Submit">
	</form>
{% endblock %}
