{% extends "index.html" %}
{% block content %}
{% if username == "no" %}
	<h2>Username is taken :(<h2>
{% endif %}
	<h1 class="text-center">Sign Up!</h1>
	<h1>test this for good enough pass and passwords match. if exist, redirect to /user/edit</h1>
	<form name="password_form" action="/ilrj0i/pa2/user" method="POST">

		Username: <input type="text" name="username" pattern="^[A-Za-z0-9_]{3,20}$" required title="Letters, digits, and underscores ONLY! 3 characters minimum and 20 characters maximum." required/>

		<br>

		First Name: <input type="text" name="firstname" pattern="^[A-Za-z-]{1,20}$" required title="Letters and hyphen ONLY! 1 character minimum and 20 characters maximum" required/>

		<br>

		Last Name: <input type="text" name="lastname" pattern="^[A-Za-z-]{1,20}$" required title="Letters and hyphen ONLY! 1 character minimum and 20 characters maximum." required/>

		<br>

		E-mail: <input type="email" name="email" maxlength="20" required/>

		<br>

		Password: <input type="password" pattern="(?=^.{5,}[A-Za-z0-9_]$)(?=.*\d)(?=.*[a-zA-Z]).*$" name="password1" maxlength = "15" required title="Letters, digits, and underscores ONLY! 5 characters minimum and 15 characters maximum with at least one digit and one character." required onKeyUp="verify.check()">

		<br>

		Reconfirm Password: <input type="password" pattern="(?=^.{5,}[A-Za-z0-9_]$)(?=.*\d)(?=.*[a-zA-Z]).*$" name="password2" maxlength = "15" required title="Letters, digits, and underscores ONLY! 5 characters minimum and 15 characters maximum with at least one digit and one character." required onKeyUp="verify.check()">

		<br>

		<DIV ID="password_result">&nbsp;</DIV>

		<SCRIPT TYPE="text/javascript" SRC="/static/js/verifynotify.js">

		verify = new verifynotify();
		verify.field1 = document.password_form.password;
		verify.field2 = document.password_form.password2;
		verify.result_id = "password_result";
		verify.match_html = "<SPAN STYLE=\"color:blue\">Thank you, your passwords match!<\/SPAN>";
		verify.nomatch_html = "<SPAN STYLE=\"color:red\">Please make sure your passwords match.<\/SPAN>";

		verify.check();

		</script>

		<input type="submit" value="Submit">
	</form>
{% endblock %}
